.form-inputs {
  margin: 10px 0;
  input {
    padding: 10px;
    border: 0;
    font-size: 16px;
    margin: 10px 0;
    margin-right: 10px;
  }
  textarea {
    display: block;
    margin-top: 10px;
    width: 386px;
    border: 0;
    padding: 10px;
    font-size: 16px;
    resize: none;
  }
  .btn {
    border: 1px solid rgb(210, 209, 210);
    background: white;
    transition: all .25s;
    cursor: pointer;
    display: block;
    margin: 10px 0;
    &:hover {
      background: rgb(227, 227, 227);
    }
  }
}
.admin {
  li {
    list-style-type: none;
    margin: 8px 0;
    padding: 0 0;
    font-size: 14px;
  }
  ul {
    margin: 0 0;
    padding: 0 0;
  }
  .teamMember {
    span {
      display: inline-block;
      margin-right: 14px;
    }
  }
  .backend-grid {

    li {
      width: 100%;
      display: block;
      @include respond-at-and-above($break-medium) {
        width: 50%;
      }
    }

    @include respond-at-and-above($break-medium) {
      display: flex;
      justify-content: space-around;
    }
  }
}
