
// breakpoints

$break-tiny: 320px;
$break-414: 414px;
$break-mobile: 420px;
$break-small: 600px;
$break-700: 700px;
$break-medium: 768px;
$break-large: 1024px;
$break-xl: 1280px;
$break-gigantic: 1600px;
$footer-med-break: $break-medium + 107px;
$phone-header-break: 660px;
