@import "{wolves:bourbon}/bourbon";
@import "{wolves:neat}/neat";

body, div, a, p, ul, li {
  font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
}

body {
  margin: 20px;
  background-color: #f2f2f2;
}

.navigation a {
  padding-right: 20px;
}

li {
  margin-bottom: 10px;
}
